body{background-color: ecd9c6}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: 333;
	position: relative;
	top: 0;
	width: 100%;
}

li{
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.active{
	background-color: green;
}

.test{
	position: relative;
	top: 50px;
}

.ProfilePicture{
	
	position: relative;
	display: block;
	margin: 55px auto auto auto;
	background-attachment: fixed;
	
}

.SkillsTable{
	position: relative;
	text-align: center;
	
	
}

.skills{
	text-align: center;
	font-size: 2.0em;
}

.bio{
	font-size: 1.5em;
	text-align: center;
}

td{
	font-size: 1.5em;
}

.TopPage{
	text-align: center;
	font-size: 3em
}

.HWP{
	position: relative;
	display: block;
	margin: 55px auto auto auto;
	background-attachment: fixed;
}

.HWHeaders{
	position: relative;
	top: 45px;
	text-align: center;
	font-size:  3em;
}

.HWParagraph{
	text-align: center;
	font-size:  2em;
}

.HwVideo{
	display: block;
	margin: 0 auto;
}

.FabPic{
	position: relative;
	display: block;
	margin: 55px auto auto auto;
	background-attachment: fixed;
}

.FabHeader{
	position: relative;
	top: 45px;
	font-size:  3em;
}

.FabParagraph{
	font-size:  2em;
}

.ContactDiv{
	margin: auto;
    width: 50%;
    padding: 10px;
}